/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
}

header {
    background: linear-gradient(to bottom, #333, #000);
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 20px;
    font-weight: bold;
    font-size: 1.1rem;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffc107;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.main-content {
    padding: 20px;
}

h2 {
    font-size: 1.5rem;
    color: #333;
    margin-top: 20px;
}

p {
    font-size: 1.1rem;
    line-height: 1.4;
    color: #555;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

/* Portfolio Section Styles */
.portfolio {
    margin-top: 40px;
}

.portfolio h2 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.portfolio-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.portfolio-item img {
    max-width: 100%;
    border-radius: 5px;
}

.portfolio-item h3 {
    font-size: 1.2rem;
    color: #333;
    margin-top: 10px;
}

.portfolio-item p {
    font-size: 1rem;
    color: #555;
}

/* Footer Styles */
footer {
    background: linear-gradient(to bottom, #000, #333);
    color: #fff;
    padding: 10px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons a {
    margin-right: 10px;
    display: inline-block;
}

.social-icons img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transition: transform 0.2s;
}

.social-icons a:hover img {
    transform: scale(1.2);
}
