body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: black;
    max-width: 300px;
}

.display {
    text-align: right;
    padding: 15px;
    font-size: 1.7rem;
    color: white;
}

#display {
    width: 100%;
    padding: 5px;
    font-size: 1.7rem; /* Slightly larger font size for display */
    border: none;
    outline: none;
    color: white; /* Text color for display */
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 10px;
}

button {
    padding: 15px;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    color: white; /* Text color for buttons */
    background-color: rgba(49, 38, 38, 0.801); /* Background color for buttons */
    transition: background-color 0.3s ease;
}

button.large {
    grid-column: span 2;
}

button.operator {
    background-color: rgba(49, 38, 38, 0.801); /* Background color for operator buttons */
    color: rgb(55, 255, 0); /* Text color for operator buttons */
    font-weight: bold;
}

button.operator:hover {
    background-color: #009900;
}

button:hover {
    background-color: #e0e0e0;
}

/* Specific button styles */
button#backspace {
    background-color: green; /* Backspace button color */
}

button#clear {
    background-color: red; /* C button color */
}

button#equals {
    background-color: rgb(255, 255, 255); /* Equals button color */
}
