body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #3498db, #2980b9);
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    color: #fff;
    font-size: 28px;
}

.search-container {
    margin-top: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 70%;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.weather-info {
    margin-top: 20px;
}

#weatherIcon {
    margin-top: 10px;
}

p {
    margin: 5px;
    font-size: 18px;
}
