* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease;
}

#chatbox {
    width: 400px;
    height: 300px;
    margin: 20px auto;
    padding: 10px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.chat-message {
    margin-bottom: 10px;
}

button {
    color: #ffffff;
    background-color: blueviolet;
    display: block;
    width: 150px;
    padding: 10px;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#start-listening,
#stop-listening {
    display: block;
    margin: 0 auto;
}

body.dark-mode {
    background-color: #36393F;
    color: #ffffff;
}

.chat-message.dark-mode {
    background-color: #40444B;
}

.dark-mode button {
    background-color: #7289DA;
    color: #ffffff;
}

.dark-mode button:disabled {
    background-color: #99AAB5;
}

.dark-mode-switch {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    z-index: 1000;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 25px;
    width: 55px;
    background-color: #ccc;
    border-radius: 40px;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "☀️";
    height: 26px;
    width: 26px;
    font-size: 20px;
    left: 2px;
    bottom: 2px;
    color: #FFD700;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider:before {
    content: "🌙";
    color: #888;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.switch.dark-mode {
    background-color: #586069;
}

.slider.dark-mode {
    background-color: #586069;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #f0f0f0;
    padding: 10px 0;
    z-index: 1000;
}

.footer p {
    margin: 0;
    font-size: 16px;
    color: #36393F;
}

.footer a {
    text-decoration: none;
    color: #007bff;
}

.dark-mode .footer p {
    margin: 0;
    font-size: 16px;
    color: #f0f0f0;
}

.dark-mode .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #888;
    padding: 10px 0;
    z-index: 1000;
}