* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(0, 0, 33);
  color: white;
  font-family: 'Poppins', sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 85px;
  background-color: rgb(18, 18, 62);
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li{
  list-style: none;
  margin: 0 23px;
}

nav ul li a{
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
}

nav ul li a:hover{
  color: rgb(153, 153, 226);
  font-size: 1.5rem;
}

main hr{
  border: 0;
  background: #9c97f1;
  height: 1.2px;
  margin: 60px;
}

.left {
  font-size: 1.7rem;
}

.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px 0;
}

.firstSection > div {
  width: 40%;
}

.leftSection{
  font-size: 3rem;
}

.leftSection .buttons{
  padding: 50px 0;
}

.leftSection .btn{
  padding: 12px;
  background: #1e2167;
  color: white;
  border: 2px solid white;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
}

.rightSection img {
  width: 100%;
}

.purple {
  color: rgb(170, 107, 228);
}

.text-gray{
  color:gray;
}

#element{
  color: rgb(170, 107, 228);
  margin: auto;
}

.secondSection{
  max-width: 80vw;
  margin-left: 29px;
  height: 80vh;
  
}

.secondSection h1{
  font-size: 1.9rem;
  margin-bottom: 3em;
}

.secondSection .box{
  background: white;
  width: 95vw;
  height: 4px;
  margin: 80px 0;
  display: flex;
}

.secondSection .vertical{
  height: 93px;
  width: 3px;
  background-color: white;
  margin: 0 100px;
}

.image-top{
  width: 50px;
  position:relative;
  top: -50px;
  left: -20px;
}

.vertical-title{
  position: relative;
  top: 75px;
  width: 170px;
  font-size: 18px;
}

.vertical-desc{
  position: relative;
  top: 86px;
  color: gray;
  width: 170px;
  font-size: 14px;
}

.project-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 2em;
}

.project-card {
  border: 1px solid #ccc;
  padding: 10px;
  height: 300px;
  width: 280px;
  color: #fff;
  background-color: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
  margin-left: 20px;
}

.project-card img {
  width: 280px;
  height: 195px;
}

.project-card h3 {
  text-align: center;
  margin: 15px 0;
  font-size: 1.15rem;
}

.project-card a {
  text-align: center;
  display: block;
  background-color: #007BFF;
  color: #fff;
  padding: 8px 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.project-card a:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
