* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(0, 0, 33);
  color: white;
  font-family: 'Poppins', sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: rgb(18, 18, 62);
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li{
  list-style: none;
  margin: 0 23px;
}

nav ul li a{
  text-decoration: none;
  color: white;
}

nav ul li a:hover{
  color: rgb(153, 153, 226);
  font-size: 1.01rem;
}

main hr{
  border: 0;
  background: #9c97f1;
  height: 1.2px;
  margin: 60px;
}

.left {
  font-size: 1.5rem;
}

.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 130px 0;
}

.firstSection > div {
  width: 30%;
}

.leftSection{
  font-size: 3rem;
}

.leftSection .buttons{
  padding: 50px 0;
}

.leftSection .btn{
  padding: 12px;
  background: #1e2167;
  color: white;
  border: 2px solid white;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
}

.rightSection img {
  width: 80%;
}

.purple {
  color: rgb(170, 107, 228);
}

.text-gray{
  color:gray;
}

#element{
  color: rgb(170, 107, 228);
  margin: auto;
}

.secondSection{
  max-width: 80vw;
  margin-left: 29px;
  height: 80vh;
  
}

.secondSection h1{
  font-size: 1.9rem;
}

.secondSection .box{
  background: white;
  width: 95vw;
  height: 2px;
  margin: 56px 0;
  display: flex;
}

.secondSection .vertical{
  height: 93px;
  width: 1px;
  background-color: white;
  margin: 0 120px;
}

.image-top{
  width: 23px;
  position:relative;
  top: -32px;
  left: -9px;
}

.vertical-title{
  position: relative;
  top: 75px;
  width: 150px;
  font-size: 14px;
}

.vertical-desc{
  position: relative;
  top: 86px;
  color: gray;
  width: 150px;
  font-size: 9px;
}