body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    background-image: url('image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#chat {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 7rem;
    padding: 20px;
    background-color: #fff;
    background: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 2rem;
    color: #fff;
}

#messages {
    padding: 10px;
}

#contactInfo,
#message {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

#send {
    width: 100px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#send:hover {
    background-color: #0056b3;
}