body {
    background-image: url("image.webp");
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #83b3ca;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #fff;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #007bff;
}

button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#output {
    margin-top: 30px;
}

.output-section {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
}

.output-section p {
    margin: 0 0 15px 0;
    color: #333;
}