<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Count</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h1>Book Count</h1>

    <p>Total Books in the Library:
        <%= bookCount %>
    </p>
    <a href="/">Back to Library</a>
</body>

</html>