body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: #333;
    transition: color 0.5s;
}

h2 {
    color: #666;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

.dark-mode {
    background-color: #333;
    color: white;
}

.dark-mode-switch {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    margin: 20px;
    z-index: 1000;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.dark-mode-label {
    margin-left: 10px;
    font-size: 16px;
    color: #333;
}

.dark-mode h1 {
    color: orange;
}

.dark-mode h2 {
    color: orange;
}

.dark-mode span{
    color: white;
}

.dark-mode th{
    color:red;
}

.dark-mode strong{
    color:green;
}