@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    position: relative
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
}

h2 {
    color: #666;
    font-size: 18px;
    font-weight: bold;
}
p{
    margin-bottom: 2em;
}


table {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 3em;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

#sortedBooksList li {
    margin-bottom: 1em;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in-element {
    animation: fadeIn 1s ease-in-out;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-bottom: 2em;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

button:before {
    content: "\f055";
    font-family: "Font Awesome 5 Free";
    margin-right: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

.icon {
    font-family: 'Font Awesome';
}

.icon:hover {
    transform: rotate(45deg);
    transition: transform 0.3s ease-in-out;
}

.dark-mode-switch {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    z-index: 1000;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 26px;
    width: 55px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "☀️";
    height: 26px;
    width: 26px;
    font-size: 20px;
    left: 2px;
    bottom: 2px;
    color: #FFD700;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider:before {
    content: "🌙";
    color: #888;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Bright Mode */
.other-web-app {
    background-color: #f9f9f9;
    border: 2px solid #ccc;
    padding: 20px;
    margin-top: 40px;
    text-align: center;
}

.other-web-app h3 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.other-web-app p {
    color: #666;
    font-size: 18px;
    margin-bottom: 20px;
}

.other-web-app a {
    display: inline-block;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    transition: background-color 0.3s;
}

.other-web-app a:hover {
    background-color: #0056b3;
}

/* Dark Mode */
.dark-mode .other-web-app {
    background-color: #333;
    border: 2px solid #555;
}

.dark-mode .other-web-app h3 {
    color: #FFD700;
}

.dark-mode .other-web-app p {
    color: #ffffff;
}

.dark-mode .other-web-app a {
    background-color: #FFD700;
    color: #ffffff;
    border: 2px solid #FFD700;
}

.dark-mode .other-web-app a:hover {
    background-color: #ffd700;
    color: #333;
}

/* Discord-like Dark Mode for other elements except the switch */
.dark-mode {
    background-color: #36393f; /* Dark gray background */
    color: #ffffff; /* White text */
}

/* Discord-like Dark Mode for headers and titles */
.dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode h4, .dark-mode h5, .dark-mode h6 {
    color: #ffffff; /* White text */
}

/* Discord-like Dark Mode for table headers */
.dark-mode table th {
    color: #ffffff; /* White text */
}

/* Discord-like Dark Mode for other elements */
.dark-mode a, .dark-mode button, .dark-mode .icon {
    background-color: #7289da; /* Discord blue */
    color: #ffffff; /* White text */
    border: 2px solid #677bc4; /* Border color */
}

.dark-mode a:hover, .dark-mode button:hover {
    background-color: #677bc4; /* Slightly darker blue on hover */
}

/* Discord-like Dark Mode for the other-web-app section */
.dark-mode .other-web-app {
    background-color: #40444b; /* Slightly lighter gray background */
    border: 2px solid #586069; /* Border color */
}

.dark-mode .other-web-app h3 {
    color: #ffffff; /* White text */
}

.dark-mode .other-web-app p {
    color: #ffffff; /* Light gray text */
}

.dark-mode .other-web-app a {
    background-color: #7289da; /* Discord blue */
    color: #ffffff; /* White text */
    border: 2px solid #677bc4; /* Border color */
}

.dark-mode .other-web-app a:hover {
    background-color: #677bc4; /* Slightly darker blue on hover */
}