<!-- books_table.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books Table</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h2>All Books</h2>
    <table>
        <thead>
            <tr>
                <th>Book Name</th>
                <th>Number of Pages</th>
                <th>Download PDF</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < books.length; i++) { %>
                <tr>
                    <td>
                        <%= books[i].bookName %>
                    </td>
                    <td>
                        <%= books[i].numPages %>
                    </td>
                    <td>
                        <a href="<%= books[i].pdfFile %>" download="<%= books[i].bookName %>.pdf">Download PDF</a>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
    <a href="/">Back to Library</a>
</body>

</html>
